.breadcrumb-container
  display flex
  list-style-type none
  margin 0 0 1em 0

.breadcrumb
  text-decoration none
  color black
  font-size 16px
  font-weight bold
  &:after
    display inline-block
    content "+"
    margin 0 5px
  &:last-child
    &:after
      content ""

.list, .file
    display block
    font-size 32px
    margin 0 0 0.6em 0

.list:after
  display inline-block
  content "+"
