.footer 
  width: 100%
  position: relative
  bottom: 0
  left: 0
  font-size: 36px
  line-height 100%
  font-weight bold
  color: #fff
  text-align center
  padding 50px 0
  a
    text-decoration none
