@charset "utf-8"

@import "fonts"
@import "variables"
@import "functions"
@import "buttons"
@import "navigation"
@import "footer"
@import "header"
@import "breadcrumb"

*
  box-sizing border-box

*:focus
  outline none

body, html
  width 100%
  height 100%
  padding 0
  margin 0
  color baseColor

ul
  list-style none

article
  display flex
  flex-direction column

body
  font-family 'Public Sans', sans-serif
  background-color bgColor
  //background-image url("../../dist/textures/noise_rgb.png")
  //background-attachment fixed
  //background-blend-mode color-dodge
  //backdrop-filter blur(0.5px)
  height 100vh
  letter-spacing 0.2px
  line-height 1.5em
  h1
    line-height normal
    margin 0.25em 0
  h2, h3
    line-height normal
    margin 0.5em 0
  

details > summary
  list-style none

details summary::-webkit-details-marker
  display none

a
  -webkit-tap-highlight-color transparent
  user-select none
  text-decoration none
  color linkColor
  &:hover
    color linkHoverColor

h1
  font-size 3em

figure
figure
figure
  width 100%
  margin 20px 0 0 0

img
  margin 0.4em 0 0 0

img, figure, .image-text
  border solid 2px linkColor

.image-text
  margin 0 !important
  padding 5px 10px
  background linkColor
  color bgColor
  font-size 12px
  font-weight bold

.video-container
  padding 56.25% 0 0 0
  position relative
 
.video-container iframe,
.video-container object,
.video-container embed
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.container-full-width
  display flex
  flex-direction column
  width 100%
  height 100%
  transition opacity 250ms ease-in-out
  overflow-y auto

.content-container, .list-container
  margin 2em 0 0 0

.content-container > p:first-of-type
  margin-top 2em !important

.main
  flex-grow 1
  word-wrap: break-word;
  //background linear-gradient(0deg, transparent, #ffffff33 15%, #ffffff33 50%, transparent)
  font-size 16px
  padding 30px
  z-index 1
  img, video
    width 100%
  ul
    padding 0
    margin 0.5em 0 0 0.5em
    li
      margin 0 0 0 1em
    p
     margin 10px 0
  a
    font-decoration none
    font-weight 600
    color linkColor
    &:hover
      color linkHoverColor
  p
    margin 0.75em 0 0 0

@media screen and (min-width: 700px)
  .main
    padding 30px 25% 0 25%
