.navigation
  margin 20px 0 0 0
  ul
    margin 0
    padding 0

details
  user-select none
  margin 0 0 5px 0
  summary
    margin 0 20px 7px 0
    display inline-table
    list-style-type none
    text-align center
    &:after
      content "+"
      color linkColor
      display inline-block
      vertical-align middle
      width 20px
      cursor pointer
    &:hover:after
      color linkHoverColor
    &:-webkit-details-marker
      display none
    a
      display inline-block
      font-weight bold
      font-size 24px
      color linkColor
      margin 0
      &:hover
        color linkHoverColor
  a
    display block
    margin 0 1em 0.3em 0
    font-size 18px
    font-weight normal
  & > a:last-child
    margin-bottom 0.25em

@media screen and (min-width: 700px)
  details
    summary
      margin-right 0
    a
      margin-right 0

.visual > details summary a

details[open] > summary::after
    content "-"

details[open]
  border-bottom solid 2px baseColor

details[open] > summary a
  color linkHoverColor
  &:hover
    color linkActiveColor

details[open] > a:last-child
  margin-bottom 0.5em

