<main class="main">
    {{#if breadcrumb}}
    <div class="breadcrumb-container">
        {{>breadcrumb breadcrumb}}
    </div>
    {{/if}}

    <div class="list-container">
        {{>list list}}
    </div>

    {{#if body}}
    <article class="content-container">
         {{{body}}}
    </article>
    {{/if}}
</main>
