{{#each this.children}}
    {{#if this.children}}
        <a class="navigation-button navigation-link breadcrumb" href="/{{this.path}}">{{@key}}</a>
        {{>breadcrumb}}
    {{else}}
        <a class="navigation-button navigation-link breadcrumb" href="/{{this.path}}">{{@key}}</a>
    {{/if}}
{{/each}}
