      <footer class="footer">
        <a href="#header">∧</a>
        <!--
        <div class="links">
          {{#each footer.links}}
            <a href="{{this.link}}">
              <img alt="{{this.name}}" src="{{{this.icon}}}">
            </a>
          {{/each}}
        </div>
        -->
      </footer>
    </div>
  </body>
</html>
