<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <meta name="description" content="Esa Mäkitalo programmer and visualizer">
    {{#if pageName}}
      <title>{{siteName}} | {{pageName}}</title>
    {{else}}
      <title>{{siteName}}</title>
    {{/if}}
  </head>
  <body>
    <div class="container-full-width">
      <header id="header" class="header">
          <nav class="navigation">
            <details>
              <summary>
                <a class="navigation-button site-name" href="/">
                    {{siteName}}
                </a>
              </summary>
              <ul>
                {{>navigation navigation}}
              </ul>
            </details>
          </nav>
      </header>
