{{#each this.children}}
    {{#if this.children}}
        <a class="navigation-button navigation-link list" href="/{{this.path}}">
            {{@key}}
        </a>
    {{else}}
        <a class="navigation-button navigation-link file" href="/{{this.path}}">{{@key}}</a>
    {{/if}}
{{/each}}
