{{#each this.children}}
    {{#if this.children}}
        <li>
          <details class="{{@key}}">
              <summary>
                  <a class="navigation-button navigation-link" href="/{{this.path}}">
                      {{@key}}
                  </a>
              </summary>
              <ul>
                {{>navigation}}
              </ul>
        </details>
      </li>
    {{else}}
        <li><a class="navigation-button navigation-link" href="/{{this.path}}">{{@key}}</a></li>
    {{/if}}
{{/each}}
