{{{md
  '
# [VJSoft](https://gitlab.com/emakitalo/videodrome)

## Personal project

##### 2014-2020

Minimalistic VJ software for improvisational live performances. Made with openframeworks. 

### Features:

  * Photoshop like layers

  * GLSL effects stacking for layers

  * IPCamera layers for live feeds

  * Audio reactive parameters  



[VJSoft in Gitlab](https://gitlab.com/emakitalo/videodrome)


![Image](https://lvl001.net/beta/esa/static-files/images/portfolio/vj_003.png)  

![Image](https://lvl001.net/beta/esa/static-files/images/portfolio/vj_004.png)  

![Image](https://lvl001.net/beta/esa/static-files/images/portfolio/vj_001.jpg)  

![Image](https://lvl001.net/beta/esa/static-files/images/portfolio/vj_002.jpg)  

![JEHU@Kaiku](https://lvl001.net/beta/esa/static-files/images/portfolio/kaiku_jehu.png)

* <figure>

  <div class="video-wrap">

  <div class="video-container">

  <iframe src="https://player.vimeo.com/video/86338761" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

  </div>

  </div>

  </figure>

* <figure>

  <video controls src="https://lvl001.net/static/assets/video/kaiku_jehu.mp4"></video>

  </figure>

* <figure>

  <video controls src="https://lvl001.net/static/assets/video/maantomu.mp4"></video>

  </figure>

* <figure>

  <video controls src="https://lvl001.net/static/assets/video/vjsoft_001.mp4"></video>

  </figure>

* <figure>

  <video controls src="https://lvl001.net/static/assets/video/vjsoft_002.mp4"></video>

  </figure>

* <figure>

  <video controls src="https://lvl001.net/beta/esa/media/videos/barÖ.mp4"></video>
  </figure>

  '
}}}
